* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
}

.container {
  background-color: #DEDEDE;
}

.main {
  background-color: #436DFF;
  text-align: center;
  padding: 15px;
}

.features {
  background-color: #FF4343;
  display: flex;
  justify-content: center;
}
ol li {
  padding: 10px;
}

.form {
  background-color: #1FDA33;
  padding: 15px;
}
h2 {
  padding: 0 15px 15px 0;
}
.selection {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}
select {
  padding: 5px;
  font-size: 15px;
}

